@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-top: 2rem;
}

.fixed {
  position: fixed;
}

.cart-count {
  top: -0.4rem;
  right: -0.5rem;
}
